html {
  position: relative;
  min-height: 100%;
}

body
{
	background-color: #F9F9F9;
	margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.interaction-block
{
	padding: 6px;
	border: 1px solid #e3e3e3;
	padding-right: 10px;
}

.btn-setting
{
	width: 20px;
	height: 20px;
}
.question-lg
{
	background-color: white;
	border: 1px solid #e3e3e3;
	padding: 10px;
	border-radius: 2%;
	margin-bottom: 10px;
}

.comment-sidebar 
{
	background-color: white;
	border: 1px solid #e3e3e3;
	padding: 5px;
	border-radius: 1%;
	margin: 0 auto;
	margin-bottom: 5px;
}

hr
{
	
	border-color: #B90091;
	border: solid 1px #B90091;
	margin-top:5px;
	margin-bottom: 10px;
}
.question-form
{
	background-color: white;
	border-color: #e7e7e7;
	padding: 10px;
	border-radius: 1%;
	margin-bottom: 50px;
}

.back-primary
{
	background-color: white;
}

.bottom-space-md
{
margin-bottom:15px;
}

.comment-form
{
	padding: 10px
}

.user-info
{
	padding:8px;
	margin-bottom: 50px;
	border: 1px solid #e3e3e3;
}
.user-info>img
{
	width: 200px; 
	height: 200px;
	margin: 0 auto; 
	border-radius: 50%;
	border: solid 4px white;
}

.question-block
{
	padding: 15px;
	border: 1px solid #e3e3e3;
}
.title-block>h3
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 2px;
}
.question-tags-lg ,.comment-sidebar-content
{
	margin-top: 5px; 
}
.m-navbar
{
	background-color: #B90091;
	border-color: #e7e7e7;
	color: white;
}
.m-navbar .navbar-brand
{
	color: white;
}

.navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus
{
	background-color: #B90091;
	color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #B90091;
}

.label-main {
    background-color: #B90091;
    padding: 8px;
}
.panel-default > .panel-heading 
 {
    color: #fff;
    background-color: #B90091;
    border-color: #ddd;
}
pagination > .active > a, .pagination > .active > span,
 .pagination > .active > a:hover, .pagination > .active > span:hover,
 .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #48dd00;
    border-color: #48dd00;
}


.m-navbar .navbar-brand:hover
{
	color: white;
}
.navbar-default .navbar-nav > li > a
{
	color: #e3e3e3;
}
.navbar-default .navbar-nav > li > a:hover
{
	color: white;
}

.dropdown-menu
{
	background-color: #B90091;
	border-color: #e7e7e7;
	
}
.dropdown-menu > li > a
{
	color: white;
}
.navbar-default .navbar-nav > .active > a
{
	background-color: #B90091;
}
ul
{
	list-style: none;
}

.btn-main
{
	color: #fff;
    background-color: #48dd00;
    border-color: #48dd00;
    padding-top: 5px;
}

.vote-block
{
	padding: 5px;
}
footer
{
	margin-top: 50px;
}

.comment
{
	background-color: white;
	margin-bottom: 5px;
	padding: 8px;
	border: 1px solid #e3e3e3;
}